.footer {
  position: relative;
  overflow: hidden;

  .shape__big,
  .shape__small {
    position: absolute;
  }
  .shape__big {
    width: 320px;
    height: 300px;
    left: -12rem;
    top: 6rem;
  }
  .shape__small {
    right: -13rem;
    bottom: -6rem;
  }

  &__container {
    row-gap: 2.5rem;
    position: relative;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--titleColor);
    font-size: var(--h2FontSize);
    font-weight: var(--fontSemiBold);
    margin-bottom: 1.25rem;
    transition: 0.3s;
    i {
      font-size: 1.5rem;
      font-weight: 500;
    }
    &:hover {
      color: var(--firstColor);
    }
  }

  &__title {
    font-size: var(--h3FontSize);
    margin-bottom: 1.25rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__link,
  &__social-link {
    color: var(--textColor);
    transition: 0.3s;
    &:hover {
      color: var(--titleColor);
    }
  }

  &__social {
    display: flex;
    column-gap: 1.5rem;

    &-link {
      font-size: 1.25rem;
    }
  }

  &__copy {
    display: block;
    margin-top: 4.5rem;
    text-align: center;
    font-size: var(--smallerFontSize);
    color: var(--textColorLight);
    span {
      color: red;
    }
  }
}
